header{
    background-color: var(--pastel-yellow);
    padding: 1rem;
    text-align: center;
    animation: colorChange 10s infinite linear alternate;
}

h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: .3rem;
    font-weight: 700;

    color: var();
}

@keyframes colorChange {
    0% {
        background-color: var(--pastel-blue);
    }
    25% {
        background-color: var(--pastel-green);
    }
    50% {
        background-color: var(--pastel-yellow);
    }
    75% {
        background-color: var(--pastel-orange);
    }
    100% {
        background-color: var(--pastel-red);
    }

}